body
{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

.page
{
    width: 100vw;
    height: 100vh;
}

div#headerMenu
{
    position: fixed;
    z-index: 1000;
    left:0%;
    width: inherit;
    height: 7%;
    background-color: #1b1b1b;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

div#logoMenu
{   
    width: 10%;
}

a#logo
{
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255,0.7);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0px 1px 0px rgb(255, 255, 255,.2), 0px -1px 0px rgba(0,0,0,.7);
    padding: 11px 32px;
}

#logo:hover
{
    color: rgba(255, 255, 255, 0.7);
    background-color: rgb(36, 36, 36);
}

div#sectionMenu
{
    width: 90%;
    display: inherit;
}

div#blankSpace
{
    width: 49%;
}

div#sectionMenu ul
{
    list-style-type: none;
    overflow: hidden;
    width: 49.5%;
    margin: 0;
    padding: 0;
}

div#sectionMenu li
{
    float: right;
}

div#sectionMenu li a
{
    display: block;
    text-decoration: none;
    padding-left: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255,0.7);
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0px 1px 0px rgb(255, 255, 255,.2), 0px -1px 0px rgba(0,0,0,.7);
    padding: 11px 16px;
}

div#sectionMenu li a:hover
{
    color: rgb(255, 255, 255, 0.4);
    background-color: rgb(36, 36, 36);
}

.page#StartPage
{
    background-color: #202020;
    text-align: center;
}

div#mainName
{
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p#name
{
    color: rgba(255, 255, 255, 0.7);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0px 1px 0px rgba(255, 255, 255,.2), 0px -1px 0px rgba(0,0,0,.7);
}

.div-transparent:before
{
	content: "";
	position: absolute;
	bottom: 10px;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(255, 255, 255, 0.7), transparent);
}

.divider-arrow-down:after
{
    content: "";
	position: absolute;
	bottom: 3px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: #202020;
	border-bottom: 1px solid rgb(255, 255, 255, 0.7);
    border-right: 1px solid rgb(255, 255, 255, 0.7);
}

.page#BioPage
{
    background-color: #202020;
    text-align: center;
}